{% extends "base/layout.html" %}

{% block content %}

<h2>Part #{{ part.id }} - ({{ part.deadline }})</h2>

<h4><a href="/courses/{{ course.id }}">{{ course.name }}</a></h4>


<p>
  {% if session.user_role == 1 %}
    {% if score %}
      <b>My score</b>: {{score[0]}}/{{score[1]}}
    {% endif %}
  {% else %}
    {% if stats %}
      <b>Part stats</b>:
      <ui>
        {% for stat in stats%}
          <li>{{stat[0]}} ({{stat[1]}}): <b>{{stat[2]}}/{{stat[3]}}</b></li>
        {% endfor %}
      </ui>
    {% endif %}
  {% endif %}
</p>

<p>{{ part.material }}</p>

{% if assignments %}
<h4>assignments:</h4>

    {% for assignment in assignments %}
    <p>
        <a href="/parts/{{ part.id }}/assignments/{{ assignment.id }}">{{ assignment.question }}</a> ({{ assignment.points }} points)
    </p>
    {% endfor %}
<hr>
{% endif %}


{% if session.user_id == course.teacher_id %}
<a href="/parts/{{ part.id }}/assignments" class="btn btn-primary">Create a new assignment</a>

<br>
<br>

<form action="/parts/{{ part.id }}/edit" method="post">
    <input type="hidden" name="user_id" value="{{ session.user_id }}">
    <input type="submit" value="edit" class="btn btn-secondary">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<br>
<form action="/parts/{{ part.id }}/delete" method="post">
    <input type="hidden" name="user_id" value="{{ session.user_id }}">
    <input type="submit" value="delete" class="btn btn-danger">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endif %}

{% endblock %}